<!-- I am rendered inside of layout.hbs --> 

<div class="row banner">
	<div class="col-12">
		<h1>{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-8">
		<p>Loc8r was created to help people find places to sit down and get a bit of work done.</p>
	</div>
</div>