<!-- I am rendered inside of layout.hbs --> 

<div class="row banner">
	<div class="col-12">
		<h1>{{title}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-8">
		<p>{{pageHeader.tagline}}</p>
	</div>
</div>