<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">Loc8r</a>
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarMain">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarMain">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/test/">CSS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container content">
      <!-- body content is based on res.render call in the view js code --> 
      {{{body}}}

      <footer>
        <div class="row">
          <div class="col-12">
            <small>An example app based on <a href="https://www.manning.com/books/getting-mean-with-mongo-express-angular-and-node">Getting Mean</a></small>
            <a href="https://github.com/jrnewton/meanwifi"><img src="/images/GitHub-Mark-32px.png" height="18" width="18"></img></a>
          </div>
        </div>
      </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
