<!-- I am rendered inside of layout.hbs --> 

<div class="row banner">
	<div class="col-12">
		<h1>Review Starcups</h1>
	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-9">
		<form action="/location" method="post" role="form">
			<div class="form-group row">
				<label class="col-10 col-sm-2 col-form-label" for="name">Name</label>
				<div class="col-12 col-sm-10">
					<input id="name" class="form-control" name="name"></input>
				</div>
			</div>
		</form>
	</div>
</div>