<!-- I am rendered inside of layout.hbs --> 
<div class="row banner">
  <div class="col-12">
    <h1>Loc8r</h1>
    <small>&nbsp;Find places to work with wifi near you!</small>
	</div>
</div>

<div class="row">
	<div class="col-12 col-md-8">
		<div class="card">
			<div class="card-block">
				<h4><a href="/location">Starcups</a></h4>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<p class="lead">Loc8r helps you find places to work when out and about.</p>
	</div>
</div>

