<div class="row banner">
	<div class="col-12">
		<h1>{{title}}</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-2">one</div>
	<div class="col-sm-12 col-md-2">two</div>
	<div class="col-sm-12 col-md-2">three</div>
	<div class="col-sm-12 col-md-2">four</div>
	<div class="col-sm-12 col-md-2">five</div>
	<div class="col-sm-12 col-md-2">six</div>
	<div class="col-sm-12 col-md-2">seven</div>
	<div class="col-sm-12 col-md-2">eight</div>
	<div class="col-sm-12 col-md-2">nine</div>
	<div class="col-sm-12 col-md-2">ten</div>
	<div class="col-sm-12 col-md-2">eleven</div>
	<div class="col-sm-12 col-md-2">twelve</div>
</div>
